@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Gochi+Hand&family=Inder&family=Inter:wght@400;700&family=Jaldi&family=Manrope:wght@800&family=Nunito&family=Orelega+One&family=Philosopher&family=Poor+Story&family=Prompt&family=Quattrocento&family=Roboto:wght@300;400;700&family=Rubik+Dirt&family=Space+Mono&family=Special+Elite&display=swap');

* {
    /* If you add padding or margin does not affect widht of box */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    transition: .4s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}

.slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: .4s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.arrow {
    position: fixed;
    background-color: transparent;
    color: #fff;
    padding: 1.4rem;
    font-size: 2rem;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow:focus {
    outline: 0;
}

.left-arrow {
    left: calc(15vw - 4.6rem);
}

.right-arrow {
    right: calc(15vw - 4.6rem);
}